<!--<div>
    <h3 class="panel-title">Contact us</h3>
    <div class="footerLinks">
         <a href="https://github.com/Branimir123" target="_blank"><i class="github"></i> Branimir Kirilov</a>
         <a href="https://github.com/cwetanow" target="_blank"><i class="github"></i> Ivan Cvetanov</a>
         <a href="https://github.com/Kalito98" target="_blank"><i class="github"></i> Kaloqn Yanev</a>
         <a href="https://github.com/polyavi" target="_blank"><i class="github"></i> Polia Ivanova</a>
         <a href="https://github.com/Viki94" target="_blank"><i class="github"></i> Viktoria Nedialkova</a>
    </div>
</div>-->


<div>
    <h3>
        <a href="#/templates/contactUs/{{this.id}}">{{this.attributes.name}}</a>
    </h3>
    <h4>{{this.attributes.githubProfil}}</h4>
</div>