.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-container, .items-type {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: #e7e7e7;
}
.item-container {
    display: inline-block;
    width: 350px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.items-type {
    background-color: #4eadc6;
}
.item-properties {
    list-style: none;
    padding-left: 0;
}
.item-properties li{
  color: #333;
}
h3, h2, h4 {
    margin: 5px;
    color: #333;
}
.item-properties li a:hover{
  color: #333;
  text-decoration: none;
}
.item-properties span{
  font-weight: bold;
}
