<div id="books" class="items">
    {{#each this}}
        <div class="item-container">
            <div>
                <ul class="item-properties">
                    <li><a href="#/products/books/:id"><h3>{{this.name}}</h3></a></li>
                    <li>{{this.author}}</li>
                </ul>
                <img src="images/{{this.id}}.jpg" width="150">

            </div>
        </div>
    {{/each}}
</div>
