<div class="contacts">
    <h1>CONTACTS</h1>
    <h3>
        <a class="github" href="https://github.com/Branimir123" target="_blank"> Branimir</a><br>
        <a class="github" href="https://github.com/cwetanow" target="_blank"> Ivan</a><br>
        <a class="github" href="https://github.com/Kalito98" target="_blank"> Kaloyan</a><br>
        <a class="github" href="https://github.com/polyavi" target="_blank"> Polia</a><br>
        <a class="github" href="https://github.com/Viki94" target="_blank"> Viktoria</a>
    </h3> 
</div>
