<div id="home"> 
        <h1>Welcome to our E-library</h1> 
 </div> 
    <div id="landing-image-wrapper"> 
        <img id="landing-image" src="../../images/landing.jpg" alt="" class="img-responsive" /> 
        <h1 id="landing-title">X E-Library</h1> 
    </div> 
    <div id="down-btn" class="arrow bounce"> 
    </div> 
 
    <div id="home-products"> 
        <h3>Latest Products</h3> 
    </div> 
</div> 