<div id="magazines" class="items">
    {{#each this}}
        <div class="item-container">
            <div>
                <ul class="item-properties">
                    <li><a href="#/products/magazines/{{this.id}}"><h3>{{this.name}}</h3></a></li>
                    <li>${{this.price}}</li>
                </ul>
              <img src="{{this.img}}" width="150">

            </div>
        </div>
    {{/each}}
</div>
